:root {
    color-scheme: dark;
    --color-bg: #212121;
    --color-bg-secondary: #404040;
    
    --color-text: #ffffff;
    --color-text-accent: #2a852a;
    --color-text-subtitle: #b0b0b0;
    --color-text-destructive: #b84e4e;

    --color-hint: #909090;
    --color-btn: #368f36;
    --color-btn-text: white;

    --viewport-height: var(--tg-viewport-height);
    --viewport-stable-height: var(--tg-viewport-stable-height);
}